[submodule "mmdetection"]
	path = mmdetection
	url = https://github.com/open-mmlab/mmdetection.git
[submodule "mmclassification"]
	path = mmclassification
	url = https://github.com/open-mmlab/mmclassification.git
[submodule "mmcv"]
	path = mmcv
	url = https://github.com/open-mmlab/mmcv.git
