[submodule "mmdetection"]
	path = mmdetection
	url = https://github.com/open-mmlab/mmdetection.git
[submodule "mmclassification"]
	path = mmclassification
	url = https://github.com/open-mmlab/mmclassification.git
[submodule "mmdeploy"]
	path = mmdeploy
	url = https://github.com/open-mmlab/mmdeploy.git
